/*
Template Name: Glimmer preview 
Theme URI: http://softhopper.net
Author: SoftHopper
Author URI: http://softhopper.net
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
	## Post, Page, Comments Table
# Forms
# Navigation
	## Links
	## Menus
	## Pagination
	## Navigation responsive
		### Mobile CSS
		### Pagination responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*font-family: 'Montserrat', sans-serif;
font-family: 'Great Vibes', cursive;*/
html {
  font-size: 100%;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45em;
  color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4em;
  color: #3d3d3d;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-weight: inherit;
}

h1 {
  font-size: 2.441em;
  margin: 0 0 1.875em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

small, .font_small {
  font-size: 0.8em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

.section-title {
  font-size: 28px;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 0;
}
.sub-title {
  color: #747474;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  margin-bottom: 1.875em;
  line-height: 1.75em;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #ffffff;
  word-wrap: break-word;
}

img {
  height: auto;
  max-width: 100%;
}

/*--------------------------------------------------------------
# Preview Area
--------------------------------------------------------------*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a8a8a8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #a8a8a8;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #a8a8a8;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #a8a8a8;
}

#preview-header {
  background-size: cover;
  background-position: 50% 50%;
}
.site-branding {
  display: block;
  text-align: center;
  margin: auto;
  padding: 95px 0 60px;
}
.site-branding a {
  display: inline-block;

}
.site-branding img {
  margin: auto;
}
.moke-up-area {
  display: block;
  text-align: center;
}
.moke-up-area img {
  margin: auto;
}
.section-title-area {
  padding: 90px 0 75px;
}
.sub-title {
  position: relative;
}
.sub-title::before, .sub-title::after {
  background: #747474;
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 25px;
}
.sub-title::before {
  left: -35px;
}
.sub-title::after {
  right: -35px;
}
.hr-line {
  margin-bottom: 50px;
  margin-top: 35px;
  border: 0;
  border-top: 1px solid #ebebeb;
  position: relative;
}

.demo-section, 
.features-section,
#footer-top,
#footer-middle {
  background:#f4f9f7;
}
.thumb-content {
  text-align: center;
}
.thumb-content h3:before {
  content: "\f015";
  font-family: FontAwesome;
  color: #93c9c4;
  margin-right: 5px;
}
.thumb-content h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.thumb-content h3 a span {
  font-size: 10px;
  text-transform: none;
  margin-left: 5px;
  color: #646464;
}
.features-section .section-title-area {
  padding: 15px 0 75px;
}
.features-section ul {
  margin: 0;
  padding: 0;
}

.features-section ul li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 13px;
  color: #747474;
  text-indent: -18px;
  line-height: 28px;
}
.features-section ul li:before {
  content: "\f054";
  position: relative;
  font-family: FontAwesome;
  margin-right: 8px;
  color: #93c9c4;
  font-size: 11px;
}
#footer-top {
  padding-bottom: 45px;
}
#footer-top .youtube-content {
  display: table;
  margin: auto;
}
#footer-top .icon-area {
  float: left;
}
#footer-top .icon-content {
  float: left;
  margin-top: 15px;
}
#footer-top .icon-content h4 {
  font-family: 'Great Vibes', cursive;
  font-size: 36px;
  margin-left: 30px;
}

#footer-middle {
  margin: 15px 0;
  padding: 60px 0;
}

#footer-middle a {
  color: inherit;
}
#footer-middle .news-letter {
  display: table;
  margin: auto;
}
#footer-middle .news-letter .input-group {
  max-width: 270px;
}

#footer-middle .news-letter-title {
  float: left;
  margin-right: 20px;
  margin-top: 12px;
  text-transform: uppercase;
}
#footer-middle .newsletter {
  float: left;
}
#footer-middle .newsletter .form-control {
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  height: 46px;
  border-color: #d5e3dc;
  color: #a8a8a8;
}
#footer-middle .newsletter #submit-btn {
  border-radius: 0;
  padding: 12px 15px;
  border-color: #d5e3dc;
  transition: all 0.3s all;
  -webkit-transition: all 0.3s all;
}
#footer-middle .newsletter #submit-btn:hover {
  background: #93c9c4;
  border-color: #93c9c4;
  color: #fff;
}
#footer-middle .social-area {
  display: table;
  margin: 10px auto auto;
  text-align: center;
}
#footer-middle .social-area > a {
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  position: relative;
  width: 30px;
  color: #93c9c4;
  transition: all 0.3s all;
  -webkit-transition: all 0.3s all;
}
#footer-middle .social-area > a:hover {
  background: #93c9c4;
  border-color: #93c9c4;
  color: #fff;
}

#footer-bottom {
  background: #93c9c4;
  padding: 20px 0;
}
#footer-bottom p {
  margin-bottom: 0;
  text-align: center;
  font-size: 11px;
  color: #fff;
  letter-spacing: 1px;
}
#footer-bottom a {
  color: inherit;
}
.mc-response {
  font-size: 13px;
  margin-top: 15px;
}

/*--------------------------------------------------------------
# Responsibe area
--------------------------------------------------------------*/
@media only screen and (min-width: 992px) {
  .features-section .col-md-5:last-child {
    margin-left: 45px;
  }
}
@media only screen and (max-width: 992px) {
  .demo-section .col-md-4 {
    margin-bottom: 30px;
  }
  #footer-middle .col-md-6:first-child {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .features-section .row {
    margin: 0;
  }
}
@media only screen and (max-width: 618px) {
  #footer-top .icon-area {
    float: none;
  }  
  #footer-top .icon-content {
    float: none;
    margin-left: 0;
  }
}
@media only screen and (max-width: 432px) {
  #footer-middle .news-letter-title {
    float: none;
    margin-right: 0;
    text-align: center;
    margin-bottom: 15px;
    display: block;
  }  
}
@media only screen and (max-width: 452px) {
  .site-branding {
    padding: 45px 0;
  }
  .site-branding img {
    width: 100%;
  }
  .section-title-area {
    padding-top: 75px;
  }
  #footer-middle .social-area > span {
    display: block;
    margin-bottom: 15px;
  } 
  .demo-section .row {
    overflow: hidden;
  } 
}